name: Lint Code

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - run: |
          pip install --upgrade pip
          pip install flake8
      - run: |
          flake8 . \
            --exclude=server/djangoapp/migrations \
            --ignore=E501,F401,F811,E302,E303,W391
          echo "Python lint passed"

  lint_js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install -g jshint
      - run: |
          find ./server/database -name "*.js" -exec jshint {} \;
          echo "JS lint passed"
